body {
  background-color: #1C191D;
  color: snow;
}
.Header h1 {
  color: snow;

    font-size:4em;
    margin-top: 2em;
}
.Artists {
    margin-top: 4em;
    margin-bottom: 0em;
}
.Artist img {
  width: 85%;
  display: block;
  margin: -10px auto;
}
.Artist .text-over-img {
  z-index: 1;
  font-size: 1.4em;
  /* color:snow; */
  background-color: #51C5FF;
  font-weight: 600;
  position:relative;
  bottom: 43px;
  left: 72px;
  width: fit-content;
  padding: 10px;
  border-top-right-radius: 10px;
}
